@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationservice

@{
  var result = await authorizationservice.AuthorizeAsync(this.User, "ViewManageMenu");
}
@if (result.Succeeded)
{
  <div class="dropdown">
    <a href="#" class="btn btn-outline-danger dropdown-toggle" id="managedropdownmenu" data-bs-toggle="dropdown"
    aria-expanded="false">
      Manage
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="managedropdownmenu">
      <li>
        <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">
          Database
        </a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">
          Quản lý liên hệ
        </a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Role" asp-area="Identity">
          Role (vai trò)
        </a>
        <a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Identity">
          Quản lý thành viên
        </a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Category" asp-area="Blog">
          Quản lý chuyên mục blog
        </a>
      </li>
    </ul>
  </div>
}
